@model Dahlia.ViewModels.RetreatListRetreatViewModel

@{
    ViewBag.Title = "Get";
}

<h2>@Model.Date Retreat</h2>

<a href='@Model.AddParticipantLink'>Add Participant</a><br />
<ul><b>Has Bed Code</b>
    @foreach (var participant in Model.RegisteredParticipants.Where(p => !String.IsNullOrWhiteSpace(p.BedCode)))
    {
        <li><div style="width:100%"> @participant.FirstName @participant.LastName @participant.BedCode @participant.DateReceived <a href="@participant.DeleteLink">Delete</a> </div>
            <div style="width:100%"> @participant.Notes </div></li>
    }
</ul>
<ul><b>Does Not Have Bed Code</b>
    @foreach (var participant in Model.RegisteredParticipants.Where(p => String.IsNullOrWhiteSpace(p.BedCode)).OrderBy(p => p.DateReceived))
    {
        <li><div style="width:100%"> @participant.FirstName @participant.LastName @participant.BedCode @participant.DateReceived <a href="@participant.DeleteLink">Delete</a> </div>
            <div style="width:100%"> @participant.Notes </div></li>
    }
</ul>