@model Dahlia.ViewModels.RetreatListViewModel

@{
    ViewBag.Title = "App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var currentId = '@Model.CurrentRetreatId';
    $(function() {
        $('#static_tabs').tabs();
        if (currentId !== "")
        {
            $('#static_tabs').tabs('select', '#'+ '@Model.CurrentRetreatId');
        }
    });
</script>

<a href='@Model.CreateLink'>Add a new retreat</a>

<div id="static_tabs">
    <ul >
        @foreach (var retreat in Model.Retreats)
        {
            <li><a href="#@retreat.Id">@retreat.Date.ToShortDateString()</a></li>
        }
    </ul>
    @foreach (var retreat in Model.Retreats)
    {
        <div id="@retreat.Id">
            <a href='@retreat.AddParticipantLink'>Add Participant</a><br />
            <ul><b>Has Bed Code</b>
                @foreach (var participant in retreat.RegisteredParticipants.Where(p => !String.IsNullOrWhiteSpace(p.BedCode)))
                {
                    <li><div style="width:100%"> @participant.FirstName @participant.LastName @participant.BedCode @participant.DateReceived.ToShortDateString() <a href="@participant.DeleteLink">Delete</a> </div>
                        <div style="width:100%"> @participant.Notes </div></li>
                }
            </ul>
            <ul><b>Does Not Have Bed Code</b>
                @foreach (var participant in retreat.RegisteredParticipants.Where(p => String.IsNullOrWhiteSpace(p.BedCode)).OrderBy(p => p.DateReceived))
                {
                    <li><div style="width:100%"> @participant.FirstName @participant.LastName @participant.BedCode @participant.DateReceived.ToShortDateString() <a href="@participant.DeleteLink">Delete</a> </div>
                        <div style="width:100%"> @participant.Notes </div></li>
                }
            </ul>
        </div>
    }
</div>



<div style="width:500px;border-top:1px solid black;">&emsp;</div>