@model Dahlia.ViewModels.RetreatListViewModel

@{
    ViewBag.Title = "Retreats";
}

<h2>Retreats</h2>

<a href='@Model.CreateLink'>Add a new retreat</a>

<ul>
@foreach (var retreat in Model.Retreats) {
    <li>@retreat.Date.ToString("d")
        @retreat.RegisteredParticipants Participant(s)
        <a href='@retreat.AddParticipantLink'>Add Participant</a></li>
        <ul>
            @foreach (var participant in retreat.RegisteredParticipants)
            {
                <li>@participant.FirstName @participant.LastName</li>
            }
        </ul>
}
</ul>