@model Dahlia.ViewModels.RetreatListViewModel

@{
    ViewBag.Title = "Retreats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var currentId = '@Model.CurrentRetreatId';
    $(function() {
        $('#static_tabs').tabs();
        if (currentId !== 0)
        {
            $('#static_tabs').tabs('select', '#'+ '@Model.CurrentRetreatId');
        }
    });
</script>

<div id="static_tabs">
    <ul >
        @foreach (var retreat in Model.Retreats)
        {
            <li><a href="#@retreat.Id">@retreat.Date.ToShortDateString()</a></li>
        }
    </ul>
    @foreach (var retreat in Model.Retreats)
    {
        <div id="@retreat.Id">
            <h2>@retreat.Description</h2>
            <a href='@retreat.AddParticipantLink'>Add Participant</a>
            @Html.ActionLink("Delete Retreat", "Delete", new { id = retreat.Id})
            <a target="_blank" href="/retreat/generatereportfor?retreat=@retreat.Id">Report</a>
            <br />
            
            <b>Registered</b>
            <ul>
                @foreach (var participant in retreat.RegisteredParticipants.Where(p => !String.IsNullOrWhiteSpace(p.BedCode)))
                {
                    <li>
                        <div><b>Name:</b> @participant.FirstName @participant.LastName <a href="@participant.DeleteLink">Delete</a></div>
                        <div><b>Date Recieved:</b> @participant.DateReceived.ToShortDateString()</div>
                        <div><b>Bed Code:</b> @participant.BedCode</div>
                        <div><b>Physical Status:</b> @participant.PhysicalStatus </div>
                        <div><b>Notes:</b> @participant.Notes</div>
                    </li>
                }
            </ul><br />
            <b>Waitlist</b>
            <ul>
                @foreach (var participant in retreat.RegisteredParticipants.Where(p => String.IsNullOrWhiteSpace(p.BedCode)).OrderBy(p => p.DateReceived))
                {
                    <li>
                        <div><b>Name:</b> @participant.FirstName @participant.LastName <a href="@participant.DeleteLink">Delete</a></div>
                        <div><b>Date Recieved:</b> @participant.DateReceived.ToShortDateString()</div>
                        <div><b>Physical Status:</b> @participant.PhysicalStatus </div>
                        <div><b>Notes:</b> @participant.Notes</div>
                    </li>
                }
            </ul>
        </div>
    }
</div>