@using Dahlia;
@using Dahlia.ViewModels;

@model Dahlia.ViewModels.AddParticipantToRetreatViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Participant to Retreat</h2>

@using (Html.BeginForm("DoAddToRetreat", "Participant")) {
    @Html.HiddenFor(x => x.RetreatDate)
    <fieldset>
        <legend>Add Participant</legend>
        <label>First Name: </label>@Html.TextBoxFor(x => x.FirstName)<br />
        <label>Last Name: </label>@Html.TextBoxFor(x => x.LastName)<br />
        <label>Bed Code: </label>
        @if (!Model.RetreatIsFull) 
        {
            @Html.TextBoxFor(x => x.BedCode)
        }
        else 
        {
            <span class='ui-warning'>All beds full</span>
        }
        <br />
        <label>Date Received: </label>@Html.TextBoxFor(x => x.DateReceived)<br />
        <label>Notes:</label>@Html.TextAreaFor(x => x.Notes)<br />
        <label>Physical Status:</label>@Html.DropDownListFor(x => x.PhysicalStatus)<br />
    </fieldset>
    
    <input name="Save" type="submit" value="Add Participant" />
    <input name="Cancel" type="submit" value="Cancel" />
}
