@model Dahlia.ViewModels.MigrationsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var item in @Model.AvailableVersions)
{
    
    if (item.Version < @Model.CurrentVersion) {
        <li>@Html.ActionLink(@item.Version + "-" + @item.Name, "Down", "Migrate",new{ id = @item.Version}, null)</li>
    }
    
    if(item.Version > @Model.CurrentVersion) {
        <li>@Html.ActionLink(@item.Version + "-" + @item.Name, "Up", "Migrate",new{ id = @item.Version}, null)</li>
    }
    
    if(item.Version == @Model.CurrentVersion) {
        <li>@item.Version - @item.Name</li>
    }
}