<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/underscore.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/backbone.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/backbone-localstorage.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dahlia.js")" type="text/javascript"></script>
</head>

<body>
    <h1>OMG HAI!</h1>
    @RenderBody()
    <img src="http://images.t-nation.com/forum_images/b/d/bdfb3_ORIG-has_a_nad.jpg" />
</body>
</html>
